<!DOCTYPE html>
<html>
  <head>
    <%= erb(:headers) %>
    <script type="text/javascript">
      indexpath = '<%= url_for_search_index %>';
      base_url = '<%= base_url %>';
    </script>
  </head>
  <body>
    <div id="app">
      <header class="navbar">
        <div class="sidebar-button">
          <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" viewBox="0 0 448 512" class="icon">
            <path fill="currentColor" d="M436 124H12c-6.627 0-12-5.373-12-12V80c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12zm0 160H12c-6.627 0-12-5.373-12-12v-32c0-6.627 5.373-12 12-12h424c6.627 0 12 5.373 12 12v32c0 6.627-5.373 12-12 12z"></path>
          </svg>
        </div>
        <a href="<%= url_for_main %>">
          <img src="<%= url_for_file("docs/images/openhab-logo.png") %>" alt="openHAB" class="logo can-hide">
          <img src="<%= url_for_file("docs/images/jrubyscripting.png") %>" alt="openHAB" class="logo">
          <span class="site-name can-hide">openHAB</span>
        </a>
        <div class="links">
          <%= erb(:search) %>
          <nav class="nav-links can-hide">
            <%= erb(:nav_links) %>
          </nav>
        </div>
      </header>

      <div class="sidebar-mask"></div>
      <aside class="sidebar">
        <nav class="nav-links">
          <%= erb(:nav_links) %>
        </nav>
        <%= erb(:versions) %>
        <% file_open = defined?(@file) && @file %>
        <ul class="sidebar-links">
          <li>
            <section class="sidebar-group<%= " collapsed" unless file_open %>">
              <p class="sidebar-heading"><span><a href="<%= url_for_main %>">Getting Started</a></span><a class="arrow toggle <%= file_open ? "down" : "right" %>"></a></p>
              <ul class="sidebar-links sidebar-group-items">
                <%= erb(:full_list_file) %>
              </ul>
            </section>
          </li>
          
          <li>
            <section class="sidebar-group<%= " collapsed" if file_open %>">              
              <p class="sidebar-heading"><span><%= linkify(Registry.root, "Classes") %></span><a class="arrow toggle <%= file_open ? "right" : "down" %>"></a></p>
              <ul class="sidebar-links sidebar-group-items class-list">
                <%= @root = Registry.root; @depth = 0; erb(:full_list_class) %>
              </ul>
            </section>
          </li>
        </ul>
      </aside>

      <main class="page">
        <div class="content"><%= yieldall %></div>

        <%= erb(:footer) %>
      </main>
    </div>
  </body>
</html>
